{{ "<!-- About Section -->" | safeHTML }}
<section class="danger" id="about">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 text-center">
            <h2>{{ with .Site.Params.about.title }}{{.}}{{ end }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
          <p>We are Rosie and Lyd. Two friends living in Leeds, UK.</p>
          <p>In December 2015, Rosie arrived at Lyd’s house with an alternative Christmas card wishing friends and family peace this Christmas, as well as inviting them to pray for peace in the world - using a crane. She had heard something on the radio and this had inspired the cards. Lyd loved it so much that she wanted to invite everyones friends & family to join in.</p>
          <p>We started talking about how over the past few months we’ve both been struck by our social media newsfeeds, politicians, faith leaders, and the media all bombarding us with opinions, arguments and conflict. Especially about Syria. It seemed to us that something was missing. Within all the rhetoric and disagreements, there was one thing that every- one was in fact wanting to see.</p>
          <p>Peace.</p>
          <p>But no one was saying it.  And we got to wondering – what would it look like if we all put peace first; Peace above our opinion, our political standpoint, our finances even our own security.  So we came up with this little idea, to extend this Christmas card project to everyone (and not just over Christmas!); to take bad news and turn it into something beautiful – a symbol for peace, and to challenge ourselves, and perhaps others, to risk more towards creating this peace together.</p>
          <p>Therein lie the origins of #makepeaceofpaper</p>
          <p><img src="img/christmascard.jpg" class="img-responsive"/></p>
        </div>
        <div class="col-lg-4">
          <h3>The Paper Peace Crane</h3>
          <p>The paper crane has become an international symbol of peace in recent years as a result of it's connection to the Hiroshima Peace Park. Sadako Sasaki was born in 1943. She was only two years old when the bomb was dropped on Hiroshima. At 11, she was diagnosed with leukaemia, caused by radiation fallout. Whilst in hospital her friend told her a legend about the crane; a bird of happiness and long life. The legend says: “anyone who was ill should make 1,000 paper cranes and the gods would grant them a wish.” Sadako hoped that the gods would grant her wish to get well so that she could run again. Sadly, Sadako only managed to complete 644 paper cranes before dying on the 25 October, 1955, at the age of 12. The remaining 356 cranes were folded by her school friends so that she could be buried with 1,000 paper cranes. Paper peace cranes sent from all over the world now fill Hiroshimas Peace Park.</p>
        </div>
    </div>
  </div>
</section>
