{{ "<!-- Give Section -->" | safeHTML }}
<section class="success" id="give">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.give.title }}{{.}}{{ end }}</h2>
                <hr class="star-light">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <p>This is not a movement about fundraising but if giving floats your boat then we have selected 4 organisations that we think do fantastic work to promote peace & support those living without it. We invite you to give if it feels free & good to do so.</p>
        </div>
        </div>
    </div>
</section>
