{{ "<!-- Header -->" | safeHTML }}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1>{{ with .Site.Params.header.name }}{{ . }}{{ end }}</h1>
              <h4>{{ with .Site.Params.header.subtitle }}{{ . }}{{ end }}</h4>
            </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="videowrapper">
              <iframe src="https://www.youtube-nocookie.com/embed/2FoB4qfsCVk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h4><a href="https://www.youtube.com/watch?v=Ux1ECrNDZl4">Make your own Crane</a></h4>
          </div>
        </div>
    </div>
</header>
