{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="makepeace">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2>{{ with .Site.Params.makepeace.title }}{{.}}{{end}}</h2>
              <hr class="star-primary">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
            <p>#MAKEPEACEOFPAPER is a movement that wants to put peace first - peace with one another, peace between nations, peace between political groups. We want to challenge ourselves and others to listen more, and talk less, and to be willing to risk giving up more of our position in order to secure peace.</p>
            <p>We do this by taking bad news online and in papers and turning them into something beautiful, an origami peace crane (read the ‘about’ section to know why we chose the origami crane) and then placing them in the broken and hurting places of our world, displaying them publicly, or posting them to those involved as an intention and an invitation to seek peace.</p>
            <p>To get an idea of what we are doing, watch our video, and to find out about us check the ‘about’ section.</p>
            <p>If you want to join us here’s how:</p>
            <ol>
              <li>Take a newspaper, magazine, or something from online.</li>
              <li>Cut out the stories of war and violence etc.</li>
              <li>With those stories, fold up an origami crane. Click on this link [hyperlink] to learn how – it will take you 5 minutes.</li>
              <li>Put your origami crane, your ‘Peace of paper’ where the world will see. Maybe your window sill, your car, that place in your neighbourhood where the horrible thing happened, or post it to your MP or elected official wherever it is that you live. Just as a stand for peace.</li>
              <li>Finally don’t forget to make your stand online SHARE on facebook, twitter and instagram #makepeaceofpaper</li>
            </ol>
            <p>It’s something beautiful, something good. It is the statement that the best victory we can imagine is peace. Make Peace of Paper.
              #makepeaceofpaper @peacepaper facebook.com/makepeaceofpaper instagram: makepeaceofpaper www.makepeaceofpaper.com
            </p>
          </div>
      </div>
  </div>
</section>
