{{ "<!-- Pray Section -->" | safeHTML }}
<section class="info" id="pray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.pray.title }}{{.}}{{ end }}</h2>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12">
            <p>Prayer is our thing; we believe that prayer invites healing into hurt and light into darkness.  If you too like to pray we’ve added this page as a place to do just that.</p>
            <p>If prayer is not your thing, you may like to take time to reflect and hope.</p>
        </div>
    </div>
    </div>
</section>
